*{
    margin: 0px;
    padding: 0px;
}
/* body *{
    outline: 1px solid pink;
} */
.wrapper{
    max-width: 1200px;
    min-height: 500px;
    margin: 0px auto;
}
h3{
    font-size: medium;
}

h3:hover{
    font-size: medium;
    text-decoration: underline;
}